.container {
    text-align: center;
}
* {
    Padding: 0px;
    margin: 0px;
}

body {
    font-family: "Young Serif", serif;

}

.section-one {
    text-align: center;
}

.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.contact-form {
    text-align: center;
}

.section-one {
    background-color: black;
    color: white;
}

.section-two__img,
.section-three__img,
.section-four__img,
.section-five__img {
    width: 200px;
    height: 300px;
}

.section-two {
    background-color: white;
    color: black;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-top: 2px;
    margin-top: 10px;
    border: solid black 3px;
    display: inline-block;
}

.section-three {
    background-color: white;
    color: black;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-top: 2px;
    margin-top: 10px;

    border: solid black 3px;
    display: inline-block;
}

.section-four {
    background-color: white;
    color: black;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-top: 2px;
    margin-top: 10px;

    border: solid black 3px;
    display: inline-block;
}

.section-five {
    background-color: white;
    color: black;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-top: 2px;
    margin-top: 10px;

    border: solid black 3px;
    display: inline-block;
}

.contact-form {
    margin-top: 2px;
}

.section-two__button,
.section-three__button,
.section-four__button,
.section-five__button {
    background-color: black;
    color: white;
}

.section-tw0,
.section-three,
.section-four,
.section-five {
    padding-left: 10 px;
    padding-right: 10 px;
    margin-left: 1px;
    margin-right: 1px;
}

.contact-form {
    text-align: center;
    margin-top: 5px;
}
.section-two__img,.section-three__img,.section-four__img,.section-five__img{
    padding-right: 2px;
    padding-left:2 px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.desc{
    text-align: center;
    display: inline-block;
}
.contact-form,.desc{
    background-color: black;
    color: white;
}
.button{
    background-color: yellow;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 500px;

}
.button{
    display: inline;
    text-align: center;
}
.section-two__button,.section-three__button,.section-four__button,.section-five__button{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}